.profile {
  margin-top: auto;
  bottom: 0px;
  right: 0;
  height: 50px;
  text-align: right;
}
.app-name {
  text-align: center;
  font-size: 28px;
  background-color: rgba(45, 51, 115, 0.1);
  padding: 10px;
}
.streams-list {
  word-break: break-word;
  width: 225px;
  white-space: normal;
}
